tharik/my-web-client/src/wsdl/localhost_8082/my-web-service/ICBTService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://icbt/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://icbt/" name="ICBTService">
<types>
<xsd:schema>
<xsd:import namespace="http://icbt/" schemaLocation="http://localhost:8082/my-web-service/ICBTService?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getPerson">
<part name="parameters" element="tns:getPerson"/>
</message>
<message name="getPersonResponse">
<part name="parameters" element="tns:getPersonResponse"/>
</message>
<message name="getPersons">
<part name="parameters" element="tns:getPersons"/>
</message>
<message name="getPersonsResponse">
<part name="parameters" element="tns:getPersonsResponse"/>
</message>
<portType name="ICBTService">
<operation name="hello">
<input wsam:Action="http://icbt/ICBTService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://icbt/ICBTService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getPerson">
<input wsam:Action="http://icbt/ICBTService/getPersonRequest" message="tns:getPerson"/>
<output wsam:Action="http://icbt/ICBTService/getPersonResponse" message="tns:getPersonResponse"/>
</operation>
<operation name="getPersons">
<input wsam:Action="http://icbt/ICBTService/getPersonsRequest" message="tns:getPersons"/>
<output wsam:Action="http://icbt/ICBTService/getPersonsResponse" message="tns:getPersonsResponse"/>
</operation>
</portType>
<binding name="ICBTServicePortBinding" type="tns:ICBTService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPerson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPersons">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ICBTService">
<port name="ICBTServicePort" binding="tns:ICBTServicePortBinding">
<soap:address location="http://localhost:8082/my-web-service/ICBTService"/>
</port>
</service>
</definitions>